<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>Timeline</title>
  </head>
  <body>
    <div class="container">
      <h2>Timeline</h2>
      <hr />
      <% if(users.length>0){ %> <%users.forEach(user=>{ %>
      <h3><%= user.name%> - <%= user.createdAt%></h3>
      <p><%= user.message%></p>

      <% }) %> <%} else {%>

      <p>No data to be displayed</p>

      <% }%>
    </div>
  </body>
</html>
